.main-container {
  display: flex;
}

.sidebar {
  /* background: #1a202c; */
  color: white;
  /* height: 100vh; */
  overflow-x: hidden;
  transition: all 0.1s;
 padding-top: 19px;
}
.sidebar {
    width: 44px;
}
.top_section_sidebar {
  display: flex;
  justify-content: flex-end;
  padding: 1px 10px;
  color: black;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.bars {
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  display: flex;
  color: rgb(0, 0, 0);
  gap: 10px;
  padding: 10px -1px;
  text-decoration: none;
  transition: 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

.link:hover {
  background: #2c3e50;
  color: white;
}

.active {
  background: #2c3e50;
  color: white;
}

.link_text {
  font-size: 15px;
  white-space: nowrap;
}

.menu {
  display: flex;
  color: white;
  /* padding: 10px 15px; */
  gap: 15px;
  transition: all 0.1s;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  border: 1px solid #dad8d8;
}

.menu_item {
  display: flex;
  gap: 10px;
}

.menu_container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sub_item {
  padding-left: 30px;
}

.icon {
  font-size: 20px;
  min-width: 20px;
}

.arrow-icon {
  margin-left: auto;
  transition: transform 0.1s;
}

.arrow-icon.open {
  transform: rotate(180deg);
}

main {
  padding: 10px;
  flex-grow: 1;
}

.sidebar:not(.open) .link_text,
.sidebar:not(.open) .logo,
.sidebar:not(.open) .arrow-icon {
  display: none;
}

.sidebar .icon {
  display: inline-block;
}
.menu {
    color: black;
}
.logout {
    margin-top: auto;
    border-top: 1px solid #2c3e50;
  }